#top {
    text-align: center;
    font-family: Bai Jamjuree, Helvetica, sans-serif;
    font-size: 2em;
    background-image: linear-gradient(#FFC6BF,#FFECBF,#FFFEBF,#CFFFBF,#BFECFE,#E6BEFF);
    padding: 15px 0px;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    padding: 100px;
}

.hero-text {
    font-family: Euphemia UCAS, 'Times New Roman', Times, serif;
    font-size: 6.5em;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 175px;
    padding-bottom: 175px;
}

.head-text {
    text-align: center;
    margin: 0 auto;
    width: 700px;
    font-family: Euphemia UCAS, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
}

.byline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 50px;
}

.car-icon {
    font-size: 3em;
    text-align: center;
}

.dashed-line {
    border: 5px dashed;
    color:#FDE20F;
    width: 700px;
    margin: 0 auto;
}

.text-container {
    margin: 0 auto;
    width: 1000px;
}

.chapterhead {
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    font-family: Euphemia UCAS, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 180%;
}

img {
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.caption {
    color: gray;
    display: block;
    padding-left: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.iframe-container {
    display: block;
    margin: 0 auto;
    width: 800px;
    border: solid 1px black;
    padding: 10px;
}
