* {
    font-family: Helvetica;
}

.Education {
    background-color: #023373;
    color: #F2F2F2;
    text-align: center;
    font-family: Helvetica;
    padding: 20px;
}

.eduheader {
    font-size: 2em;
    font-family: Koho;
}

.degrees {
    font-size: 1.5em;
}

.experience {
    background-color: #025159;
    margin-top: 75px;
    color: #F2F2F2;
    text-align: center;
    padding: 15px;
    width: 100%;
    max-width: 250px;
}

.expheader {
    font-size: 2em;
    font-family: Koho;
}